name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  test:
    name: unit-test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: "12.x"
      - uses: subosito/flutter-action@v1.5.3
        with:
          flutter-version: 2.0.4
      - name: Install dependencies
        run: flutter pub get
      - name: Analyze Dart code
        run: flutter analyze -v
      - name: Run tests
        run: flutter test --coverage
      - name: Coveralls
        uses: coverallsapp/github-action@1.1.3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
